.fotoTonda {
  justify-content: flex-start;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  top: 10px;
}

.row > .card {
  box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px,
    rgb(0 0 0 / 30%) 0px 30px 60px -30px,
    rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;
  padding-bottom: 10px;
}
