.text-nowrap {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  font-weight: bold;
  padding: 8px;
}
.addPropButt {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  font-weight: bold;
  padding: 5px;
}
