/* - ridimensionare img users nella pagina del profilo */

.link-sidebar {
  text-decoration: none;
}

.bottoneSideBar {
  background-color: transparent;
  border-radius: 25px;
  border: 1px solid black;
  color: var(--gray-text);
  font-weight: bold;
  letter-spacing: 0.08rem;
  font-size: 0.9rem;
}
.cardImgsideBar {
  position: relative;
}

.cardImgsideBar {
  line-height: 1.2;
}
