/* .fotoUser {
  position: absolute;
  top: 200px;
  left: 50px;
  
} */

.fotoUser {
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  top: 200px;
  left: 25px;
  width: 170px;
}

.userdetail {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bottoneSideBar {
  background-color: transparent;
  border-radius: 25px;
  border: 1px solid black;
  color: var(--gray-text);
  font-weight: bold;
  letter-spacing: 0.08rem;
  font-size: 0.9rem;
}
.cardImgsideBar {
  position: relative;
}

.fotoTonde {
  border-radius: 50px;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 10px;
}
.App {
  text-align: center;
  background-color: #f3f2ef; /*AGGIUNTO */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#navbar-body {
  color: #666666;
  font-size: 0.8rem;
  border-bottom: #d1d1d1;
}
#navbar-logo {
  height: 34px;
  width: 34px;
}
.navbar-right-section {
  border-left: 1px solid #d1d1d1;
  padding-left: 20px;
}
#form-control-search-form-control {
  border: none;
  border-radius: 0;
  font-size: 0.9rem;
  background-color: #eef3f8;
}
#navbar-search-container {
  background-color: #eef3f8;
}
#navbar-search-icon {
  color: #666666;
}
.navbar-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 22px;
}
.navbar-icon-container:hover {
  color: black;
  cursor: pointer;
}

#navbar-center {
  display: flex;
  flex-direction: row;
}

.width-100 {
  width: 100%;
}

h5 {
  font-size: 1rem;
}
#basic-navbar-nav {
  cursor: pointer;
}
.nav-link:hover {
  color: black;
}
.nav-icons:hover {
  color: black;
}
